# Database Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_secure_password_here
POSTGRES_DB=certificate_db
POSTGRES_PORT=5432

# Backend Configuration
NODE_ENV=development
BACKEND_PORT=5001
LOG_LEVEL=info
JWT_SECRET=dev_secret_key_at_least_32_chars_long_safe_for_local_123
WHITE_LIST_URLS=http://localhost:3001,http://localhost:5173,http://localhost:5175,http://localhost:5000,http://localhost:8080,http://localhost:5176
SSO_FRONTEND_URL=http://localhost:5173
SSO_BASE_URL=http://host.docker.internal:5000
SSO_CLIENT_ID=
SSO_CLIENT_SECRET=
# Dua baris di bawah sudah ada defaultnya di docker-compose, tapi bisa diexplicit:
SSO_CALLBACK_URL=http://localhost:5001/api/auth/sso/callback
FRONTEND_URL=http://localhost:5176


# Frontend Configuration
FRONTEND_PORT=3000
VITE_API_URL=http://localhost:5000

# OCR Service Configuration
OCR_PORT=8000
